{% extends "index.html" %}

{% block title %}{{ page.title }} | {{ config.title }}{% endblock title %}

{% block head %}
    <link href="{{ get_url(path='css/Artalk.css') }}" rel="stylesheet">
    <script src="{{ get_url(path='js/Artalk.js') }}"></script>
{% endblock head %}

{% block content %}
<div class="container" style="padding: 2rem 0;">
    <h1>{{ page.title }}</h1>
    <div class="content">
        {{ page.content | safe }}
    </div>

    <hr style="margin: 2rem 0;">

    <!-- Artalk -->
    <div id="Comments"></div>
    <script>
    Artalk.init({
        el:        '#Comments',
        pageKey:   '{{ page.path | safe }}',
        pageTitle: '{{ page.title }}',
        server:    'https://artalk.saop.cc',
        site:      '{{ config.title }}',
    })
    </script>
</div>
{% endblock content %}
