{% extends "index.html" %}

{% block title %}
{{ config.title }} | 搜索
{% endblock title %}

{% block content %}
<div class="search-page">
    <div class="search-header">
        <h1><i class="fas fa-search"></i> {{ trans(key='search_placeholder', lang=lang) }}</h1>
    </div>
    <div class="search-container">
        <i class="fas fa-search search-icon"></i>
        <input id="search" type="search" placeholder="{{ trans(key='search_placeholder', lang=lang) }}..." autocomplete="off" autofocus>
        <div class="search-results">
            <div class="search-results__items"></div>
        </div>
    </div>
</div>
{% endblock content %}
